/* style.css */

h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #message-form label {
    font-weight: bold;
  }
  
  #name, #message {
    width: 300px;
  }
  
  #message-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #message-list li {
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  #message-list li:first-child {
    margin-top: 20px;
  }
  