/* Reset Default Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(255, 231, 167);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 187, 187);
  text-decoration: underline;
}

html,
body {
  font-family: '微软雅黑', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */
.header {
  background-color: #488525;
  color: #fff;
  height: 45px; /* 缩小标题栏高度 */
  padding: 10px;
  overflow: hidden;
}

.logo {
  float: left;
  margin-right: 20px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* 添加过渡效果 */
}

nav a:hover {
  color: #ffd700; /* 当鼠标悬停在链接上时更改颜色 */
}


/* Content */
.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

#file-content {
  background-color: #464141;
  color: white;
  border-radius: 5px;
  font-family: Consolas, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
  white-space: pre-wrap;
}

/* Footer */
.footer {
  align-items: center;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 40px;
}

.footer p {
  font-size: 14px;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .header h1 {
  font-size: 20px;
  }
  #file-content {
  font-size: 12px;
  padding: 16px;
  }
  .logo {
  float: none;
  margin-right: 0;
  text-align: center;
  margin-bottom: 10px;
  }
  nav {
  float: none;
  text-align: center;
  }
  nav ul {
  display: inline-block;
  }
  nav li {
  display: block;
  margin: 5px 0;
  text-align: center;
  }
  }
